
.article
  width: 840px
  margin: 0 auto
  p
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-style: normal
    font-size: 16px
    line-height: 24px
    color: #000
    margin-bottom: 20px
  h2
    +bold
    font-size: 32px
    line-height: 40px
    color: #000
    margin-bottom: 50px
    margin-top: 30px
  > img
    width: 100%
    margin-top: 20px
    margin-bottom: 20px
    display: block
  a img
    width: 50px
    margin-right: 20px
  a
    display: flex
    flex-direction: row
    align-items: center
    text-decoration: none
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: $maincolor
    margin-bottom: 30px
    margin-top: 30px
  h3
    +bold
    font-size: 24px
    line-height: 32px
    margin-bottom: 30px
    margin-top: 30px
  button
    border: none
    cursor: pointer
.img
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-bottom: 30px
  margin-top: 20px
.w-50
  width: 45% 


@media (max-width: 1050px)
  .faq-content
    width: 90%
  .faq-useful-section
    width: 90%
  .faq-other-section
    width: 90%
  .article
    width: 90%

@media (max-width: 800px)
  .img
    flex-direction: column
    margin-bottom: 0
    width: 100%
    img
      width: 100% !important
      margin-bottom: 10px
  .article h2
    font-size: 30px
    line-height: 40px

@media (max-width: 600px)
  .faq-content h1
    font-size: 24px
    line-height: 30px

@media (max-width: 500px)
  .article h2
    font-size: 21px
    line-height: 24px
    margin-bottom: 20px
  .article p
    font-size: 14px
    line-height: 22px
  .article h3
    font-size: 18px
    line-height: 24px
    margin-bottom: 15px
    margin-top: 15px
  .article a span
    font-size: 14px
    line-height: 20px
  .faq-useful-section
    text-align: center
  .button
    font-size: 16px
    line-height: 24px
  .faq-useful-section-heading
    font-size: 18px
    line-height: 24px
  .faq-useful-section-button-yes
    font-size: 16px
    line-height: 24px
  .faq-useful-section-button-no
    font-size: 16px
    line-height: 24px